<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title><%= title %></title>
    <link
      rel="preload"
      href="https://ssl.p.jwpcdn.com/player/v/8.32.1/jwplayer.js"
      as="script"
    />
    <script src="https://ssl.p.jwpcdn.com/player/v/8.32.1/jwplayer.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="//<%= host %>/assets/style.css"
    />
    <style>
      :root {
        --base-color: <%= base_color %>;
      }
    </style>
  </head>
  <body>
    <div id="player"></div>
    <script>
      const player = jwplayer("player")
      player.setup(<%- JSON.stringify(jwplayer) %>)
    </script>
  </body>
</html>
