<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title><%= title %></title>
    <link
      rel="preload"
      href="https://ssl.p.jwpcdn.com/player/v/8.18.2/jwplayer.js"
      as="script"
    />
    <script src="https://ssl.p.jwpcdn.com/player/v/8.18.2/jwplayer.js"></script>
    <script src="//<%= host %>/p2p/p2p-media-loader-core.min.js"></script>
    <script src="//<%= host %>/p2p/p2p-media-loader-hlsjs.min.js"></script>
    <script src="//<%= host %>/p2p/hls.min.js"></script>
    <script src="//<%= host %>/p2p/jwplayer.hlsjs.min.js"></script>
    <script src="//<%= host %>/assets/player.js"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="//<%= host %>/assets/style.css"
    />
    <style>
      :root {
        --base-color: <%= base_color %>;
      }
      .jwplayer {
        position: unset !important;
      }
    </style>
  </head>
  <body>
    <div id="jwplayer"></div>

    <script>
      const App = new AppPlayer();
      App.init("<%= slug %>",<%- JSON.stringify(jwplayer) %>,<%- JSON.stringify(options) %>);
    </script>
  </body>
</html>
